body {
    min-width: 1890px;
    min-height: 910px;
    background-color: #505050;
    margin: 0;
}

.top_menu {
    width: 1420px;
    height: 136px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 18px;
    background-color: #909090;
    display: block;
    position: relative;
    border-radius: 10px;
    box-shadow: 10px 10px 12px 2px rgba(0,0,0,0.75);
}

.top_image {
    height: 116px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    position: absolute;
}

.loupe {
    width: 251px;
    height: 140px;
    margin-top: 15px;
    margin-left: 1140px;
}

.reload {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 20px;
}

.close {
    position: absolute;
    bottom: 5px;
    right: 5px;
    width: 20px;
}

.book {
    width: 57px;
    height: 86px;
    top: 20px;
    right: 40px;
    position: absolute;
}

.towel {
    width: 52px;
    height: 40px;
    top: 130px;
    right: 45px;
    position: absolute;
}

.brick {
    background-image: url('resources/brick.jpg');
    width: 100%;
    height: 70px;
    width: 120px;
    height: 70px;
    margin-top: 180px;
    margin-left: 10px;
}

.arrow {
    width: 63px;
    height: 67px;
    margin-left: 40px;
    margin-top: 18px;
}

.main {
    width: 65px;
    height: 68px;
    margin-left: 40px;
    margin-top: 10px;
}

.oeil {
    width: 65px;
    height: 65px;
    margin-left: 37px;
    margin-top: 3px;
    border: solid red 5px;
    border-radius: 5px;
}

.outil {
    width: 60px;
    height: 60px;
    margin-left: 40px;
    margin-top: 5px;
}

.chat {
    width: 67px;
    height: 69px;
    margin-left: 35px;
    margin-top: 10px;
}
.container {
    width: 1360px;
    height: 580px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    position: relative;
}

.link-us {
    width: 70px;
    height: 70px;
    position: absolute;
    top: 20px;
    left: 40px;
}

.link-nogti {
    width: 70px;
    height: 70px;
    position: absolute;
    top: 100px;
    left: 40px;
}

.link-oko {
    width: 70px;
    height: 70px;
    position: absolute;
    top: 180px;
    left: 40px;
}

.link-serp {
    width: 70px;
    height: 70px;
    position: absolute;
    top: 260px;
    left: 40px;
}

.link-trash {
    width: 70px;
    height: 70px;
    position: absolute;
    top: 330px;
    left: 40px;
}

.link-book {
    width: 70px;
    height: 70px;
    position: absolute;
    top: 20px;
    left: 40px;
}

.link-tryapka {
    width: 70px;
    height: 70px;
    position: absolute;
    top: 100px;
    left: 40px;
}

.link-wall {
    width: 70px;
    height: 70px;
    position: absolute;
    top: 180px;
    left: 40px;
}

.left_menu {
    float: left;
    width: 140px;
    height: 425px;
    background-color: #909090;
    position: absolute;
    border-radius: 10px;
    box-shadow: 10px 10px 12px 2px rgba(0,0,0,0.75);
}

.center_menu {
    margin-left: 170px;
    width: 1000px;
    position: absolute;
    border-radius: 10px;
    box-shadow: 10px 10px 12px 2px rgba(0,0,0,0.75);
    border: 10px solid #909090;
}

.right_menu {
    width: 140px;
    height: 425px;
    background-color: #909090;
    margin-left: 1220px;
    margin-top: 0px;
    border-radius: 10px;
    box-shadow: 10px 10px 12px 2px rgba(0,0,0,0.75);
    position: absolute;
}

.window {
    background-color: rgb(134,255,152);
    width: 520px;
    height: 170px;
    padding: 20px 10px;
    border-radius: 10px;
    box-shadow: 10px 10px 12px 2px rgba(0,0,0,0.75);
    position: absolute;
    font-style: courier;
    top: 680px;
    left: 190px;
}

.button {
    height: 30px;
    width: 100px;
}

.bold {
    font-weight: bold;
    font-size: 40px;
}

.window span {
    font-size: 1.2em;
}

.window input {
    width: 380px;
}

#window {
    background-color: rgb(134,255,152);
    width: 520px;
    height: 250px;
    padding: 20px 10px;
    border-radius: 10px;
    box-shadow: 10px 10px 12px 2px rgba(0,0,0,0.75);
    position: absolute;
    font-style: courier;
    top: 680px;
    left: 190px;
}